<h1> Welcome to the Blog </h1>
<br><br><br>
<div>
<button type="submit"><%=link_to"Login",'/users/login'%></button>
&nbsp&nbsp 
<button type="submit"><%=link_to "homepage",root_url %></button>&nbsp&nbsp
<button type="submit"><%=link_to"Signup",'/users/new' %></button>
</div>
